@import "./theme.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color-default);
  color: var(--color-text-default);
  font-size: var(--font-size-default);
  font-family: var(--font-family-default);
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  overflow-x: hidden;
}
